<div class="col-md-12">
  <div class="col-md-12 tabs-area ">
    <ul id="tabs-demo5" class="nav nav-tabs nav-tabs-v4" role="tablist">
      <li role="presentation" class="active">
        <a href="#tabs-demo5-area1" id="tabs-demo5-1" role="tab" data-toggle="tab" aria-expanded="true"><span class="fa fa-flag"></span></a>
      </li>
      <li role="presentation" class="">
        <a href="#tabs-demo5-area2" role="tab" id="tabs-demo5-2" data-toggle="tab" aria-expanded="false"><span class="fa fa-rocket"></span></a>
      </li>
      <li role="presentation" class="">
        <a href="#tabs-demo5-area3" id="tabs-demo5-3" role="tab" data-toggle="tab" aria-expanded="false"><span class="fa fa-share-alt"></span></a>
      </li>
      <li role="presentation" class="">
        <a href="#tabs-demo5-area4" role="tab" id="tabs-demo5-4" data-toggle="tab" aria-expanded="false"><span class="fa fa-user-secret"></span></a>
      </li>
    </ul>
    <div id="tabsDemo5Content" class="tab-content tab-content-v4">
      <div role="tabpanel" class="tab-pane fade active in col-md-12" id="tabs-demo5-area1" aria-labelledby="tabs-demo5-area1">
        <div class="panel-heading bg-white border-none">
          <h2 class="animated fadeInRight"><span class="icon-flag icons"></span> About</h2>
        </div>
          <p class="animated fadeInLeft">XMR4.me is a simple & anonymous way to mine a cryptocurrency called <b>Monero</b> (<b>XMR</b>). For a quick and easy start, we've pre-configured the system, you don't have much more to do. Just fill in your <b>Wallet</b> <b>Address</b> to start mining.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade col-md-12" id="tabs-demo5-area2" aria-labelledby="tabs-demo5-area2">
        <div class="panel-heading bg-white border-none">
          <h2 class="animated fadeInRight"><span class="icon-rocket icons"></span> Pool Config</h2>
        </div>
          <dl class="dl-horizontal animated fadeInLeft">
            <dt>Pool</dt>
            <dd><a href="https://moriaxmr.com" target="_blank">MoriaXMR</a></dd>
            <dt>Fee</dt>
            <dd>0.2%</dd>
            <dt>Minimum Payout (Wallet)</dt>
            <dd>0.3 XMR</dd>
          </dl>
      </div>
      <div role="tabpanel" class="tab-pane fade col-md-12" id="tabs-demo5-area3" aria-labelledby="tabs-demo5-area3">
        <div class="panel-heading bg-white border-none">
          <h2 class="animated fadeInRight"><span class="icon-share icons"></span> OpenSource</h2>
        </div>
        <p class="animated fadeInLeft">This project is OpenSource.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade col-md-12" id="tabs-demo5-area4" aria-labelledby="tabs-demo5-area4">
        <div class="panel-heading bg-white border-none">
          <h2 class="animated fadeInRight"><span class="fa-user-secret fa"></span> Anonymous</h2>
        </div>
        <p class="animated fadeInLeft">None of your data is stored. This site does not have a DataBase to guarantee total anonymity to our users.</p>
      </div>
    </div>
  </div>
</div>