<!-- TradingView Widget BEGIN -->
<div id="tv-medium-widget-9da21"></div>
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
new TradingView.MediumWidget({
  "container_id": "tv-medium-widget-9da21",
  "symbols": [
    [
      "XMR/EUR",
      "KRAKEN:XMREUR|1d"
    ]
  ],
  "gridLineColor": "#e9e9ea",
  "fontColor": "#83888D",
  "underLineColor": "#dbeffb",
  "trendLineColor": "#4bafe9",
  "width": "100%",
  "height": "400px",
  "locale": "fr"
});
</script>
<!-- TradingView Widget END -->