<!-- start: Header -->
<nav class="navbar navbar-default header navbar-fixed-top">
	<div class="col-md-12 nav-wrapper">
		<div class="navbar-header" style="width:100%;">
			<div class="opener-left-menu is-open">
				<span class="top"></span>
				<span class="middle"></span>
				<span class="bottom"></span>
			</div>
			<a href="{{ path('index') }}" class="navbar-brand">
				<b>XMR4.me</b>
			</a>
			<ul class="nav navbar-nav navbar-right user-nav">
				<li class="user-name"><span>Anonymous</span></li>
				<li class="dropdown avatar-dropdown">
					<img src="{{asset('build/img/rick_head.png')}}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
					<ul class="dropdown-menu user-dropdown">
						<li><a href="http://portfolio.slote.me" target="_blank"><span class="fa fa-user"></span> My Portfolio</a></li>
					</ul>
				</li>
				<li ></li>
			</ul>
		</div>
	</div>
</nav>
<!-- end: Header -->