<!-- start:Left Menu -->
<div id="left-menu">
	<div class="sub-left-menu scroll">
		<ul class="nav nav-list">
			<li><div class="left-bg"></div></li>
			<li class="time">
				<h1 class="animated fadeInLeft">21:00</h1>
				<p class="animated fadeInRight">Sat,October 1st 2029</p>
			</li>
			<li class="active ripple">
				<a class="nav-header" href="{{path('index')}}"><span class="fa-home fa"></span> Dashboard
				<span class="fa-angle-right fa right-arrow text-right"></span>
			</a>
		</li>
			<li class="ripple">
				<a class="nav-header" href="https://mymonero.com/#/" target="_blank"><span class="icon icon-chart"></span> Mining Stats
				<span class="fa-angle-right fa right-arrow text-right"></span>
			</a>
		</li>
		</li>
			<li class="ripple">
				<a class="nav-header" href="https://mymonero.com/#/" target="_blank"><span class="icon icon-wallet"></span> Create Wallet
				<span class="fa-angle-right fa right-arrow text-right"></span>
			</a>
		</li>
	</ul>
</div>
</div>
<!-- end: Left Menu -->
<!-- start: Mobile -->
<div id="mimin-mobile" class="reverse">
<div class="mimin-mobile-menu-list">
	<div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
		<ul class="nav nav-list">
			<li class="active ripple">
				<a class="nav-header">
					<span class="fa-home fa" href="{{path('index')}}"></span>Dashboard
					<span class="fa-angle-right fa right-arrow text-right"></span>
				</a>
			</li>
			<li class="ripple">
				<a class="nav-header">
					<span class="fa-home fa" href="{{path('index')}}"></span>Create Wallet
					<span class="fa-angle-right fa right-arrow text-right"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
</div>
<button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
<span class="fa fa-bars"></span>
</button>
<!-- end: Mobile -->