<div class="panel">
	<div class="panel-body">
		<div class="col-md-6 col-sm-12">
			<h3 class="animated fadeInRight">XMR4.me | fast & easy Web Miner !</h3>
			<p class="animated fadeInLeft"><span class="icon-ghost icons"></span> Anonymous Crypto Mining</p>
		</div>
	</div>
</div>