<div class="panel">
	<div class="panel-body">
		<div class="col-md-6 col-sm-12 animated fadeInRight">
			<h3>XMR4u | fast & easy Web Miner !</h3>
			<p><span class="icon-ghost icons"></span> Anonymous Crypto Mining</p>
		</div>
	</div>
</div>