<div class="col-md-6 video-v1">
  <div class="panel">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ asset('build/media/demo.mp4') }}" allowfullscreen="" oncanplay="function(){mute()}"></iframe>
    </div>
    <div class="panel-body">
      <div class="col-md-12 video-v1-header">
        <div class="col-md-6">
          <h4><span class="fa fa-video-camera"></span> How to start mining ?</h4>
          <p class="video-v1-time">
            <span class="fa fa-calendar"></span>
          December 22, 2017</p>
        </div>
      </div>
      <div class="col-md-12 video-v1-footer">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </div>
  <div></div>
</div>